
/*Archivo de estilos*/


  /* Estilos globales */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Fondo y alineación */
  /**
  body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0 auto;
  }
  **/

  /* Título centrado en la parte superior */
  h1 {
    text-align: center;
    margin-top: 25px; 
    margin-bottom: 20px; 
    font-size: 3rem;
    color: #333;
  }
 
  h2 {
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 10px; 
    font-size: 1.5rem;
    color: #333;
  }

  /* Contenedor de la caja de texto */
  .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  }

  /* Contenedor de caja de texto + subtitulo */
  .box {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 70%
  }

  /* Caja de texto */
  textarea {
    width: 70%; 
    height: 400px; 
    padding: 20px;
    border: 2px solid black;
    resize: none;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    justify-content: center;
  }

  textarea.edit:focus {
    border-color: blue; /* Borde azul cuando está enfocado */
    outline: none; /* Eliminar el borde externo predeterminado del navegador */
  }

  /* Cajas para mostrar ambos textos a la vez */
  textarea.initial-text,
  textarea.confirmed-text {
    width: 90%;
    padding: 20px;
  }

  /* Contenedor del botón centrado */
  .footer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  /* Botón "Start Editing" */
  button.start-editing {
   background-color: #007bff;
   color: #fff;
  }

  button.start-editing:hover {
    background-color: #0056b3;
  }

  /* Botón "Confirm Changes" */
  button.confirm-changes {
    background-color: #ffc107;
    color: #333; 
  }

  button.confirm-changes:hover {
    background-color: #e0a800;
  }

  /* Botón "Back to Edit" */
  button.back-edit {
   background-color: #007bff;
   color: #fff;
  }
  button.back-edit:hover {
   background-color: #0056b3;
  }
