
/* Style for the QuickED page */


  /* Global styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: Arial;
    background-color: #F8F8FF;
  }

  .limit {
    color: gray;
    font-weight: normal;
  }
  
  .limit.reached {
    color: red;
    font-weight: bold;
  }

  .warning {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  /* Background and alignment */

  /* Header styles */
  h1 {
    text-align: center;
    margin-top: 25px; 
    margin-bottom: 20px; 
    font-size: 3rem;
    color: #333;
  }
 
  h2 {
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 10px; 
    font-size: 2rem;
    color: #333;
  }

  /* Box container styles */
  .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  }

  /* Text-box + button + subttitle */
  .box {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 70%
  }

  /* Text-box */
  textarea {
    width: 85%; 
    height: 400px; 
    padding: 20px;
    border: 2px solid black;
    resize: none;
    font-size: 1.2rem;
    font-family: Arial;
    color: #333;
    background-color: #F8F8FF;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    justify-content: center;
  }

  textarea.edit:focus {
    border-color: blue; 
    outline: none; 
  }

  /* Text-box for the initial and final text */
  textarea.initial-text,
  textarea.confirmed-text {
    width: 90%;
    padding: 20px;
  }

  /* Button container */
  .footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .footer-section {
    flex: 1; /* Same space for each section */
    display: flex;
    justify-content: center;
  }

  button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #F8F8FF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px
  }

  /* Button "Start Editing" */
  button.start-editing {
   background-color: #007bff;
   color: #F8F8FF;
  }
  

  button.start-editing:hover {
    background-color: #0056b3;
  }

  /* Button "Confirm Changes" */
  button.confirm-changes {
    background-color: #e0a800;
    color: #F8F8FF; 
  }

  button.confirm-changes:hover {
    background-color: #c09002;
  }

  /* Button "Back to Edit" */
  button.back-edit {
   background-color: #007bff;
   color: #F8F8FF;
  }
  button.back-edit:hover {
   background-color: #0056b3;
  }

  /* Button "Copy URL" */
  button.copy-url {
    background-color: #ff0008;
    color: #F8F8FF;
  }
  button.copy-url:hover {
    background-color: #890307;
  }

  /* Button "Copy text*/
  button.copy-text {
    background-color: #e0a800;
    color: #F8F8FF;
  }
  
  button.copy-text:hover {
    background-color: #c09002;
  }
   
  /* Button "New QuickED*/
  button.new-quicked {
    background-color: #4caf50;
    color: #F8F8FF;
  }
  
  button.new-quicked:hover {
    background-color: #388e3c;
  }

  button.new-empty {
    background-color: #4caf50;
    color: #F8F8FF;
  }
  
  button.new-empty:hover {
    background-color: #388e3c;
  }
  
  button.use-final-as-base {
    background-color: #2196f3;
    color: #F8F8FF;
  }
  
  button.use-final-as-base:hover {
    background-color: #1976d2;
  }
  
  button.close-modal {
    background-color: #f44336;
    color: #F8F8FF;
    margin-top: 20px;
  }


  /* Warning modal styles */
  button.close-warning-modal {
    background-color: #ff0008;
    color: #F8F8FF;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button.close-warning-modal:hover {
    background-color: #890307;
  }

  /* modal styles */
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal {
    background: #F8F8FF;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .modal h2 {
    margin-bottom: 1rem;
  }
  
  .url-display {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: monospace;
  }

  .modal-buttons{
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  button.copy-url-modal {
    background-color: #038039; 
  }

  button.copy-url-modal:hover {
    background-color: #015d29; 
  }

  button.close-url-modal {
    background-color: #F8F8FF; 
    color: #ff0008;
  }

  button.close-url-modal:hover {
    color: #890307; 
  }

  /* DIff styles */
  .diff-textarea {
    width: 85%; 
    height: 400px; 
    padding: 20px;
    border: 2px solid black;
    resize: none;
    font-size: 1.2rem;
    color: #333;
    background-color: #F8F8FF;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    justify-content: center;
    overflow: auto;
  }
  
  .diff-textarea .added {
    background-color: #d4fcd4;
    color: green;
  }
  
  .diff-textarea .removed {
    background-color: #ffd6d6;
    color: red;
    /*text-decoration: line-through;*/
  }
  
  /* Toggle  switch*/
  .toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .toggle-label {
    margin-left: 10px;
    font-size: 1.1rem;
    color: #333;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
    margin-left: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: #F8F8FF;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #038039;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
